
.root { /* Styling applies to all classes */
    -fx-background-color: #FFFFFF;
    -fx-max-width: 100%;
    -fx-start-margin: auto;
}

.button{ /* Styling for all buttons */
    -fx-background-color: #BF311A;
    -fx-text-fill: #DCDDDE;
}

.centerContainer{ /* Centers containers on the stage */
    -fx-alignment: center;
}

.imagePane{ /* Apply to images for formatting */
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#PStartScreenImage{ /* Image for start screen*/
    -fx-background-image: url("Images/vcmss.jpg");
}

#PMainMenuImage{
    -fx-background-image: url("Images/vcmss.jpg");
    -fx-max-height: 400;
}

#PBookCatalog{
    -fx-background-image: url("Images/vcmss.jpg");
    -fx-max-height: 200;
    -fx-max-width: 200;
}

#PCatalogLabel{
    -fx-background-color: #DCDDDE;
    -fx-border-color: #FDB913;
    -fx-border-width: 3px;
}